@charset "utf-8";
/* CSS Document */
#center {
    text-align: center;
    margin-top: 20vw;
}
#load {
    font-size: 10vw;
    color: #670001;
}
#text {
    color: #670001;
    font-family: arial;
    font-size: 4vw;
}